################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Light.Admin.Application/obj
/Light.Admin.Core/obj
/Light.Admin.Web.Core/obj
/Light.Admin.Web.Entry/obj
